extends bootstrap

block content

    h1 Colleges.
    h3 Ranked by Total Revenues per Student (descending)
    div.nicetable
        table#table.table-hover.table-bordered
            thead
                tr
                    th University ID
                    th Name of School
                    th Year
                    th Number of Students
                    th Total Revenues
                    th Revenues Per Student
            tbody
            each college, i in finalResults
                tr
                    td #{college.UNITID}
                    td #{college.INSTNM}
                    td #{college.YEAR}
                    td #{college.STUDS}
                    td #{college.STAT}
                    td #{college.STAT_PER_STUD}


