extends bootstrap

block content

    h1 Colleges.
    h3 Ranked by Total Revenues per Student (descending)
    div.nicetable
        table#table.table-hover.table-bordered
            thead
                tr
                    th University ID
                    th Name of School
                    th Number of Students
                    th Total Revenues
                    th Revenues Per Student
            tbody
            each college, i in question6
                tr
                    td #{college.unitId}
                    td #{college.instName}
                    td #{college.totStudents}
                    td #{college.totRevenue}
                    td #{college.revPerStudent}


