extends bootstrap

block content

    h1 Colleges.
    h3 Ranked by Liabilities per Student (descending)
    div#nicetable
        table#prettyTable.display.datatable.table-bordered.table-hover.table
            thead
                tr
                    th University ID
                    th University Name
                    th Year
                    th Number of Students

                    th Total Liabilities
                    th Net Assets
                    th Revenue

                    th Revenue Per Student
                    th Net Assets per Student
                    th Liabilities per Student

            each college, i in finalResults
                tr
                    td #{college.UNITID}
                    td #{college.INSTNM}
                    td #{college.YEAR}
                    td #{college.STUDS}

                    td #{college.LIABS}
                    td #{college.ASSETS}
                    td #{college.REVENUE}

                    td #{college.LIABS_PER_STUD}
                    td #{college.ASSETS_PER_STUD}
                    td #{college.REVENUE_PER_STUD}





